/* style.css */
:root {
  --main-color: rgb(153, 126, 75);
  --text-color: #807c7c;
  --heading1: 50px;
  --heading2: 40px;
  --basefontSize:18px;
}

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

body {
  font-size: var(--basefontSize);
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--text-color);
}

html,
body {
  height: 100%;
}

h1 {
  font-size: var(--heading1);
}

#main-header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 6px rgba(210, 135, 180, 0.7);
  position: relative;
  height: 60px;
}

#main-header > h1 {
  position: absolute;
  left: 30px;
}

#main-header > nav {
  position: absolute;
  right: 30px;
  top: 15px;
  font-weight: 700;
}

#main-header > nav > ul > li {
  display: inline-block;
  margin-left: 5em;
}

#main-header > nav a:hover {
  color: var(--main-color);
} 

.main {
  width: 100%;
  height: calc(100% - 60px);
  background: #ccc;
}

.main .col {
  width: calc(100% / 4);
  height: 100%;
  background-color: #abc; 
  position: relative;
  float: left;
  
}

.main .col h2 {
  background:rgba(153, 126, 75, 0.856);
  text-align: center;
  color:#fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position:absolute;
  /*absolute로 설정하면 박스가 제대로 안보이게 됨 
    부모 크기의 100%로 박스 크기를 잡아주면 정상 노출*/
  width: 100%;
  left: 0;
  top: calc(50% - 109px / 2);
  /*50%로 설정했지만 밑으로 내려가보임!! (박스 크기랑 어쩌구 때문에..)
    중앙수직위치 = 50% - 요소높이 1/2*/
}

.main .col h2 span {
  display:block;
  font-size:0.85rem;
  font-weight: small;
}

.btn-link {
  background:rgba(153, 126, 75, 0.856);
  color:#fff;
  width: 124px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size:1rem;
  border: 1px solid (0,0,0,0.3);
  position: absolute;
  bottom:150px;
  left: calc(50% - 124px / 2);
}

.btn-link:hover, .btn-link:active {
  background:#fff;
  color:#000;
  border:1px solid  rgba(0,0,0,0.75%);
}

/*첫 번째 칼럼 배경 스타일 지정*/
.main .col:first-child {
  /*상위 폴더(../) 해당 폴더 (./)*/
  background-image: url(./폐허의형상.jpg);
  background-size: cover;
}

.main .col:nth-child(2) {
  background-image: url(./청부살인자의성모.jpg);
  background-size: cover;
}

.main .col:nth-child(3) {
  background-image: url(./새로나온책.jpg);
  background-size: cover;
}

.main .col:nth-child(4) {
  background-image: url(./한식케이크.jpg);
  background-size:cover;
}


